img{
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;
border-top-right-radius: 50px;
border-top-left-radius: 50px;    
width:100px;
height:175px; 
margin-left: 500    
}

body{
text-align: center;    
background-color: mediumspringgreen;
}

div{
width:   10000000px;
height:5px;
background-color:black;    
}

profile#{
text-align:center;
}

.links {
    float: Center;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}

.links:hover {
background-color: dodgerblue;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    Left: 30px;
    z-index: 10;
    cursor: pointer;
}